# Dependencias
/node_modules

# Entorno
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de compilación
/dist
/build

# Configuración de IDEs y editores
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Cuentas de Servicio
library.json
portal-vacaciones.json
